.prog-skills-main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.prog-skills-img-container {
    margin: 10px 10px 0 20px;
    width: 100px;                
    height: 100px;              
    overflow: hidden;            
    transition: transform 0.3s ease; 
    position: relative;          
}

.prog-skills-img-container:hover {
    transform: scale(1.5);       
}

.prog-skills-progress-container {
    width: 75%;  
    margin-top: 5px; 
    margin-left: 23px; 
    margin-bottom: 10px;            
    background-color: #f3f3f3;  
    border-radius: 25px;        
    height: 10px;                
    position: relative;          
    overflow: hidden;            
  }
  
  .prog-skills-progress-bar {
    height: 10px; 
    background-color: #4caf50; 
    border-radius: 25px; 
    transition: width 0.5s ease-in-out;
  }
  
  .prog-skills-img-container:hover + .prog-skills-progress-container .prog-skills-progress-bar {
    width: 75%;                 
  }

  .prog-skills-progress-text {
    position: absolute;
    top: 50%;                
    left: 50%;                
    transform: translate(-50%, -50%); 
    font-size: 8px;           
    color: black;               
    font-weight: bold;         
  }

  .nameNotVisible{
    display: none;
  }

  .prog-skills-skillName{
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    font-family: cursive;
    font-size: 15px;
    color: green;
    animation: wobble 1s ease-in-out infinite;
  }

  @keyframes wobble {
    0% { transform:  rotate(0deg); }
    25% { transform:  rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform:  rotate(-5deg); }
    100% { transform:  rotate(5deg); }
  }

  @media screen and (max-width: 850px) {
    .prog-skills-img-container{
      width: 85px;
      height: 85px;
    }
  }

  @media screen and (max-width: 466px) {
    .prog-skills-img-container {
      margin: 10px 10px 0 20px;
      width: 65px;               
      height: 65px;               
      overflow: hidden;            
      transition: transform 0.3s ease; 
      position: relative;         
  }
  
    .prog-skills-progress-container {
      width: 60%;  
      margin-top: 5px; 
      margin-left: 23px; 
      margin-bottom: 10px;            
      background-color: #f3f3f3;   
      border-radius: 25px;        
      height: 10px;               
      position: relative;          
      overflow: hidden;            
    }

    .prog-skills-skillName{
      justify-content: center;
      align-items: center;
      margin-left: 25px;
      font-family: cursive;
      font-size: 15px;
      color: green;
      animation: wobble 1s ease-in-out infinite;
    }
  }
  


  