.container-projects-1 {
    display: flex;
    flex-direction: column;
    width: 680px;
    
}

.header-projects-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.header-title-projects-1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    margin-right: 20px;
}

.header-role-projects-1 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 22px;
}

.header-img-projects-1 {
    width: 70px;
    height: 70px;
    background-image: var(--piggbank-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

.letter-projects-1 {
    color: black;
    display: inline-block;
    animation: changeColor-projects-1 2s linear infinite;
    animation-delay: calc(var(--i) * 0.5s);
}

@keyframes changeColor-projects-1 {
    0%, 100% {
        color: black;
    }
    50% {
        color: red;
    }
}


.letter-projects-1:nth-child(1) {
    --i: 0;
}
.letter-projects-1:nth-child(2) {
    --i: 1;
}
.letter-projects-1:nth-child(3) {
    --i: 2;
}
.letter-projects-1:nth-child(4) {
    --i: 3;
}
.letter-projects-1:nth-child(5) {
    --i: 4;
}
.letter-projects-1:nth-child(6) {
    --i: 5;
}
.letter-projects-1:nth-child(7) {
    --i: 6;
}
.letter-projects-1:nth-child(8) {
    --i: 7;
}
.letter-projects-1:nth-child(9) {
    --i: 8;
}
.letter-projects-1:nth-child(10) {
    --i: 9;
}
.letter-projects-1:nth-child(11) {
    --i: 10;
}
 

.gif-component-projects-1 {
    margin: 10px 0 0 110px;
    border-radius: 5px;
}

.gif-component-projects-1 video{
    width: 400px;
    height: 200px;
}

.next-button-project-1{
    margin: 20px 0 0 150px;
}

.website-link-projects-1{
    margin-top: 10px;
    margin-left: 160px;
    font-size: 15px;
    color: black;
}
.linkedin-link-projects-1 {
    color: black;
    font-size: 15px;
    margin-left: 160px;
}

a{
    color: maroon;
}

h3{
    font-size: 20px;
    color: palevioletred;
    font-family: cursive;
}


.introduction-projects-1, .features-projects-1 {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px; 
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto;
    margin-top: 10px; 
    margin-bottom: 10px;
    
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 
                0 2px 15px rgba(0, 0, 0, 0.2); 
    
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.introduction-projects-1:hover , .features-projects-1:hover{
    transform: translateY(-5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 
                0 4px 20px rgba(0, 0, 0, 0.3); 
  }


.introduction-projects-1 ul, .features-projects-1 ul {
    list-style-type: none; 
    margin-left: 0; 
    padding: 0; 
}

.introduction-projects-1 li, .features-projects-1 li{
    display: flex; 
    align-items: center;
    margin-bottom: 5px; 
    color: #ff5823;
    font-family: cursive;
}

.introduction-projects-1 li svg, .features-projects-1 li svg {
    margin-right: 8px; 
}


.customers-projects-1 img {
    width: 100px;
    height: 100px;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    margin: 20px 0 10px 20px;
}
.customers-dot-projects-1{
    font-size: 30px;
    margin: 65px 0 0 10px;
}

.customer-images-projects-1{
    display: flex;
    flex-direction: row;
}

.circle-button-1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0; 
    border: 2px solid red; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .circle-button-1:hover {
    background-color: #ddd; 
  }
  
  .circle-button-1 svg {
    font-size: 24px; 
    color: red; 
  }


  @media only screen and (max-width:850px){

    .container-projects-1 {
        display: flex;
        flex-direction: column;
        width: 470px;
        
    }

    .header-projects-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 100px;
    }

    .header-img-projects-1 {
        width: 50px;
        height: 50px;
        background-image: var(--piggbank-logo);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-top: 2px;
        animation: rotate-left-right 0.5s infinite;
    }
    

    .header-title-projects-1 {
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 10px;
        margin-right: 10px;
    }

    .gif-component-projects-1 {
        margin: 10px 0 0 40px;
        border-radius: 10px;
    }

    .gif-component-projects-1 video{
        width: 400px;
        height: 200px;
    }

    .website-link-projects-1{
        margin-top: 10px;
        margin-left: 90px;
        font-size: 15px;
        color: black;
    }
    .linkedin-link-projects-1 {
        color: black;
        font-size: 15px;
        margin-left: 90px;
    }

    .introduction-projects-1,.features-projects-1 {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px; 
        width: 100%; 
        max-width: 600px; 
        margin: 0 0 0 10px; 
        margin-bottom: 10px;
        
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 
                    0 2px 15px rgba(0, 0, 0, 0.2); 
        
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
      }

      .introduction-projects-1:hover , .features-projects-1:hover {
        transform: translateY(-5px); 
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 
                    0 4px 20px rgba(0, 0, 0, 0.3); 
      }
    
    .introduction-projects-1 h3,.features-projects-1 h3{
        font-size: 15px;
        color: black;
        font-family: cursive;
    }
    
    .introduction-projects-1 ul,.features-projects-1 ul {
        list-style-type: none; 
        margin-left: 0;
        padding: 0; 
    }
    
    .introduction-projects-1 li,.features-projects-1 li {
        display: flex; 
        align-items: center; 
        margin-bottom: 5px; 
        color: red;
        font-family: cursive;
        font-size: 14px;
    }

    .introduction-projects-1 li .piggybank-bullet,.features-projects-1 li .piggybank-bullet{
        width: 15px;
        height: 15px;
    }

    .introduction-projects-1 li svg, .features-projects-1 li svg {
        margin-right: 8px; 
    }
    
    .next-button-project-1{
        margin: 10px 0 0 120px;
    }

    .circle-button-1{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f0f0f0; 
        border: 2px solid red; 
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
}


@media only screen and (max-width:466px){

    .container-projects-1 {
        display: flex;
        flex-direction: column;
        width: 310px;
        
    }

    .header-projects-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        margin-top: 10px;
    }

    .header-img-projects-1 {
        width: 50px;
        height: 50px;
        background-image: var(--piggbank-logo);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-top: 2px;
        animation: rotate-left-right 0.5s infinite;
    }

    .header-title-projects-1 {
        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 15px;
        margin-right: 10px;
    }

    .gif-component-projects-1 {
        margin: 10px 0 0 10px;
        border-radius: 10px;
    }

    .gif-component-projects-1 video{
        width: 300px;
        height: 200px;
    }

    .website-link-projects-1{
        margin-top: 10px;
        margin-left: 45px;
        font-size: 12px;
        color: black;
    }
    .linkedin-link-projects-1 {
        color: black;
        font-size: 12px;
        margin-left: 45px;
    }

    .introduction-projects-1,.features-projects-1 {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px; 
        width: 100%; 
        max-width: 600px; 
        margin: 0 0 0 10px; 
        margin-bottom: 10px;
        
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 
                    0 2px 15px rgba(0, 0, 0, 0.2); 
        
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
      }

      .introduction-projects-1:hover , .features-projects-1:hover {
        transform: translateY(-5px); 
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 
                    0 4px 20px rgba(0, 0, 0, 0.3); 
      }
    
    .introduction-projects-1 h3,.features-projects-1 h3{
        font-size: 15px;
        color: black;
        font-family: cursive;
    }
    
    .introduction-projects-1 ul,.features-projects-1 ul {
        list-style-type: none; 
        margin-left: 0;
        padding: 0; 
    }
    
    .introduction-projects-1 li,.features-projects-1 li {
        display: flex; 
        align-items: center; 
        margin-bottom: 5px; 
        color: red;
        font-family: cursive;
        font-size: 12px;
    }

    .introduction-projects-1 li .piggybank-bullet,.features-projects-1 li .piggybank-bullet{
        width: 15px;
        height: 15px;
    }

    .introduction-projects-1 li svg, .features-projects-1 li svg {
        margin-right: 8px; 
    }
    
    .next-button-project-1{
        margin: 10px 0 0 60px;
    }

    .circle-button-1{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f0f0f0; 
        border: 2px solid red; 
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
}
